In [45]:
# *NumPy*

#*7. Matrix multiplication between two 2D arrays*

import numpy as np

A = np.array([[1, 2], [3, 4]])
B = np.array([[5, 6], [7, 8]])

result = np.dot(A, B)
print(result)

[[19 22]
 [43 50]]

In [46]:
#8. Dot and Cross product of two vectors*

v1 = np.array([1, 2, 3])
v2 = np.array([4, 5, 6])

dot_product = np.dot(v1, v2)
cross_product = np.cross(v1, v2)

print("Dot:", dot_product)
print("Cross:", cross_product)

Dot: 32
Cross: [-3  6 -3]

In [48]:
#9. Generate 20 random integers and find unique elements*

arr = np.random.randint(0, 50, 20)
unique_elements = np.unique(arr)
print("Array:", arr)
print("Unique:", unique_elements)

Array: [41 48 11  8  9 21 38 29  8 31 32 21  4 31 37  7  9 30 26 24]
Unique: [ 4  7  8  9 11 21 24 26 29 30 31 32 37 38 41 48]

In [50]:
#10. Inverse of a matrix using NumPy*
matrix = np.array([[1, 2], [3, 4]])
inverse = np.linalg.inv(matrix)
print(inverse)

[[-2.   1. ]
 [ 1.5 -0.5]]

In [62]:
# *Pandas*

#*11. Load CSV and show first 10 rows*

import pandas as pd

df = pd.read_csv(r"C:\Users\radhakavya\Downloads\archive (3)\hypertension_dataset.csv")
print(df.head(10))

   Age  Salt_Intake  Stress_Score       BP_History  Sleep_Duration   BMI  \
0   69          8.0             9           Normal             6.4  25.8
1   32         11.7            10           Normal             5.4  23.4
2   78          9.5             3           Normal             7.1  18.7
3   38         10.0            10     Hypertension             4.2  22.1
4   41          9.8             1  Prehypertension             5.8  16.2
5   20         10.8             3     Hypertension             5.2  21.9
6   39          8.9             0           Normal             7.8  27.6
7   70          5.9             1     Hypertension             7.2  25.8
8   19          9.3             7           Normal             4.7  36.5
9   47          7.2             5           Normal             6.2  24.3

      Medication Family_History Exercise_Level Smoking_Status Has_Hypertension
0            NaN            Yes            Low     Non-Smoker              Yes
1            NaN             No            Low     Non-Smoker               No
2            NaN             No       Moderate     Non-Smoker               No
3  ACE Inhibitor             No            Low     Non-Smoker              Yes
4          Other             No       Moderate     Non-Smoker               No
5   Beta Blocker            Yes           High     Non-Smoker              Yes
6   Beta Blocker            Yes           High     Non-Smoker               No
7            NaN             No       Moderate     Non-Smoker              Yes
8   Beta Blocker            Yes            Low         Smoker              Yes
9            NaN             No           High     Non-Smoker               No

In [64]:
grouped = df.groupby('Has_Hypertension')[['Salt_Intake', 'BMI']].agg(['mean', 'sum'])
print(grouped)

                 Salt_Intake                BMI
                        mean     sum       mean      sum
Has_Hypertension
No                  8.294229  7904.4  25.334103  24143.4
Yes                 8.750969  9031.0  26.644380  27497.0

In [67]:
df['Salt_Intake'] = df['Salt_Intake'].fillna(df['Salt_Intake'].mean())

print (df['Salt_Intake'])

0        8.0
1       11.7
2        9.5
3       10.0
4        9.8
        ...
1980    10.2
1981     8.9
1982     5.9
1983     7.4
1984     7.3
Name: Salt_Intake, Length: 1985, dtype: float64

In [68]:
import pandas as pd

# df1
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['kavya', 'lavanya', 'murali']
})

# df2
df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Age': [25, 30, 35]
})
inner_merged = pd.merge(df1, df2, on='ID', how='inner')
print("Inner Join:\n", inner_merged)

Inner Join:
    ID     Name  Age
0   2  lavanya   25
1   3   murali   30

In [70]:
numeric_columns = ['Age', 'Salt_Intake', 'Stress_Score', 'Sleep_Duration', 'BMI']
for col in numeric_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')
print (df[col])

0       25.8
1       23.4
2       18.7
3       22.1
4       16.2
        ...
1980    25.0
1981    16.9
1982    18.9
1983    29.2
1984    18.6
Name: BMI, Length: 1985, dtype: float64

In [72]:
filtered_df = df[(df['Age'] >= 20) & (df['Age'] <= 40)]
print(filtered_df)

      Age  Salt_Intake  Stress_Score       BP_History  Sleep_Duration   BMI  \
1      32         11.7            10           Normal             5.4  23.4
3      38         10.0            10     Hypertension             4.2  22.1
5      20         10.8             3     Hypertension             5.2  21.9
6      39          8.9             0           Normal             7.8  27.6
14     38          9.1             6  Prehypertension             7.7  29.0
...   ...          ...           ...              ...             ...   ...
1972   39          8.1             6  Prehypertension             4.3  35.2
1978   38          7.4             9  Prehypertension             6.2  23.6
1981   29          8.9             4     Hypertension             6.9  16.9
1983   35          7.4             8  Prehypertension             8.2  29.2
1984   38          7.3             0           Normal             8.3  18.6

         Medication Family_History Exercise_Level Smoking_Status  \
1               NaN             No            Low     Non-Smoker
3     ACE Inhibitor             No            Low     Non-Smoker
5      Beta Blocker            Yes           High     Non-Smoker
6      Beta Blocker            Yes           High     Non-Smoker
14              NaN             No            Low         Smoker
...             ...            ...            ...            ...
1972  ACE Inhibitor             No            Low     Non-Smoker
1978            NaN             No            Low     Non-Smoker
1981            NaN            Yes           High     Non-Smoker
1983            NaN            Yes       Moderate     Non-Smoker
1984            NaN            Yes            Low         Smoker

     Has_Hypertension
1                  No
3                 Yes
5                 Yes
6                  No
14                 No
...               ...
1972               No
1978               No
1981              Yes
1983               No
1984               No

[632 rows x 11 columns]

In [73]:
pivot = df.pivot_table(index='Exercise_Level', values='Salt_Intake', aggfunc=['mean', 'sum'])
print(pivot)

                      mean         sum
               Salt_Intake Salt_Intake
Exercise_Level
High              8.586445      3357.3
Low               8.506090      7961.7
Moderate          8.535562      5616.4

In [77]:
df['Family_History'] = df['Family_History'].apply(lambda x: x.upper() if isinstance(x, str) else x)
print(df['Family_History'])

0       YES
1        NO
2        NO
3        NO
4        NO
       ...
1980    YES
1981    YES
1982    YES
1983    YES
1984    YES
Name: Family_History, Length: 1985, dtype: object

In [79]:
df['Stress_Level'] = pd.cut(df['Stress_Score'], bins=[-1, 3, 7, 10], labels=['Low', 'Medium', 'High'])
print(df['Stress_Level'])

0         High
1         High
2          Low
3         High
4          Low
         ...
1980       Low
1981    Medium
1982      High
1983      High
1984       Low
Name: Stress_Level, Length: 1985, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [84]:
df['Medication'] = df['Medication'].replace('Other', 'ACE Inhibitor')


print(df['Medication'])

0                 NaN
1                 NaN
2                 NaN
3       ACE Inhibitor
4       ACE Inhibitor
            ...
1980         Diuretic
1981              NaN
1982    ACE Inhibitor
1983              NaN
1984              NaN
Name: Medication, Length: 1985, dtype: object

In [89]:
df['Salt_Intake'] = pd.to_numeric(df['Salt_Intake'], errors='coerce')
df = df.dropna(subset=['Salt_Intake'])
print(df)

      Age  Salt_Intake  Stress_Score       BP_History  Sleep_Duration   BMI  \
0      69          8.0             9           Normal             6.4  25.8
1      32         11.7            10           Normal             5.4  23.4
2      78          9.5             3           Normal             7.1  18.7
3      38         10.0            10     Hypertension             4.2  22.1
4      41          9.8             1  Prehypertension             5.8  16.2
...   ...          ...           ...              ...             ...   ...
1980   56         10.2             0           Normal             6.5  25.0
1981   29          8.9             4     Hypertension             6.9  16.9
1982   64          5.9             9           Normal             5.6  18.9
1983   35          7.4             8  Prehypertension             8.2  29.2
1984   38          7.3             0           Normal             8.3  18.6

         Medication Family_History Exercise_Level Smoking_Status  \
0               NaN            YES            Low     Non-Smoker
1               NaN             NO            Low     Non-Smoker
2               NaN             NO       Moderate     Non-Smoker
3     ACE Inhibitor             NO            Low     Non-Smoker
4     ACE Inhibitor             NO       Moderate     Non-Smoker
...             ...            ...            ...            ...
1980       Diuretic            YES            Low     Non-Smoker
1981            NaN            YES           High     Non-Smoker
1982  ACE Inhibitor            YES       Moderate     Non-Smoker
1983            NaN            YES       Moderate     Non-Smoker
1984            NaN            YES            Low         Smoker

     Has_Hypertension Stress_Level
0                 Yes         High
1                  No         High
2                  No          Low
3                 Yes         High
4                  No          Low
...               ...          ...
1980              Yes          Low
1981              Yes       Medium
1982              Yes         High
1983               No         High
1984               No          Low

[1985 rows x 12 columns]

In [88]:
df.drop_duplicates(inplace=True)

In [90]:
print(df)

      Age  Salt_Intake  Stress_Score       BP_History  Sleep_Duration   BMI  \
0      69          8.0             9           Normal             6.4  25.8
1      32         11.7            10           Normal             5.4  23.4
2      78          9.5             3           Normal             7.1  18.7
3      38         10.0            10     Hypertension             4.2  22.1
4      41          9.8             1  Prehypertension             5.8  16.2
...   ...          ...           ...              ...             ...   ...
1980   56         10.2             0           Normal             6.5  25.0
1981   29          8.9             4     Hypertension             6.9  16.9
1982   64          5.9             9           Normal             5.6  18.9
1983   35          7.4             8  Prehypertension             8.2  29.2
1984   38          7.3             0           Normal             8.3  18.6

         Medication Family_History Exercise_Level Smoking_Status  \
0               NaN            YES            Low     Non-Smoker
1               NaN             NO            Low     Non-Smoker
2               NaN             NO       Moderate     Non-Smoker
3     ACE Inhibitor             NO            Low     Non-Smoker
4     ACE Inhibitor             NO       Moderate     Non-Smoker
...             ...            ...            ...            ...
1980       Diuretic            YES            Low     Non-Smoker
1981            NaN            YES           High     Non-Smoker
1982  ACE Inhibitor            YES       Moderate     Non-Smoker
1983            NaN            YES       Moderate     Non-Smoker
1984            NaN            YES            Low         Smoker

     Has_Hypertension Stress_Level
0                 Yes         High
1                  No         High
2                  No          Low
3                 Yes         High
4                  No          Low
...               ...          ...
1980              Yes          Low
1981              Yes       Medium
1982              Yes         High
1983               No         High
1984               No          Low

[1985 rows x 12 columns]